
<header class="header">
  <div class="header-inner">
    <div class="header-name"><a href="#!" class="link header-logo"><img src="../../images/icons/logo-2.png" alt=""/></a>
      <div class="header-name__subject">Иванов <br/> Иван</div>
    </div>
    <div class="header-title h2"></div>
    <div class="header-buttons">
      <div class="header-buttons__inner"><a href="#!" class="link"><i class="fas fa-user-circle"></i></a><a href="#!" class="link js-header-dropdown"><img src="../../images/icons/head-dropdown.png" alt=""/></a><a href="#!" class="link"><img src="../../images/icons/exit.png" alt=""/></a>
        <div class="header-dropdown"><a href="#!" class="link header-dropdown__link active">Регистрация обращения</a><a href="#!" class="link header-dropdown__link">Выдача ответа</a></div>
      </div>
    </div>
  </div>
</header>