button
	outline: none!important
	border: none
	background: none
	cursor: pointer
	
.button
	display: inline-block
	font-family: $baseFont
	vertical-align: middle
	font-weight: 500
	color: inherit
	text-align: center
	white-space: nowrap
	text-decoration: none
	position: relative
	z-index: 1
	transition: $sMed
	outline: none
	cursor: pointer
	box-sizing: border-box
	line-height: 1
	border: none
	background: #F7FAFE
	color: #68819e
	padding: 10px 20px
	border-radius: 9px
	font-size: 18px
	box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.25)

	&-green
		background: #86DB87
		color: #fff
		padding: 12px 28px
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3)

	&:hover
		background: #435B75
		color: #fff
		text-decoration: none

	.fas
		color: #fff
		font-size: 16px
		margin-right: 5px