$inputHeight: 40px
$lh: 40px
$inputPadding: 30px
$inputColor: #4c4c4c

input
  width: 100%
  font-family: $baseFont
  height: $inputHeight
  outline: none
  padding: 0 $inputPadding
  color: $blue
  border: 1px solid #D0D0D0
  transition: $sMed
  border-radius: 9px
  background: white
  font-weight: 500

  +placeholder
    font-size: 14px
    font-weight: 100
    color: #656565

.error
  border: 1px solid red

textarea
  border: 1px solid #D0D0D0
  border-radius: 15px
  width: 100%
  height: 150px
  outline: none
  padding: 10px 30px

label.checkbox
  display: flex
  cursor: pointer
  margin-bottom: 20px
  input[type=checkbox]
    display: none

    &:checked + small:after
      top: 1px
      opacity: 1

  small
    display: inline-block
    height: 25px
    box-sizing: border-box
    width: 25px
    border: 1px solid #D0D0D0
    background: #fff
    border-radius: 5px
    margin-right: 15px
    transition: $sMed
    position: relative
    flex-shrink: 0
    &:after
      content: url('../images/icons/check.png')
      position: absolute
      top: -3px
      right: 3px
      transition: $sMed
      opacity: 0

label.radio
  display: flex
  cursor: pointer
  margin-bottom: 20px
  input[type=radio]
    display: none

    &:checked + small:after      
      opacity: 1

  small
    display: inline-block
    height: 25px
    box-sizing: border-box
    width: 25px
    border: 1px solid #D0D0D0
    border-radius: 5px
    margin-right: 15px
    transition: $sMed
    background: #fff
    position: relative
    flex-shrink: 0
    &:after
      content: ''
      position: absolute
      top: 3px
      left: 3px
      border-radius: 3px
      width: 17px
      height: 17px
      background: $btnColor
      transition: $sMed
      opacity: 0


.datalist
  position: relative
  background: url('../images/icons/arrow-select.png') 95% 50% no-repeat, #fff
  background-size: 16px

  &.error
    background: url('../images/icons/arrow-select-red.svg') 95% 50% no-repeat, #fff
    background-size: 18px

input::-webkit-calendar-picker-indicator
  display: none


.input-row
  margin-bottom: 25px
  // padding-right: 100px
  &__inner
    display: flex
  
  &__title
    text-align: right
    width: 45%
    flex-shrink: 0
    min-width: 110px
    padding-top: 7px
    margin-right: 15px
  &__input
    flex-grow: 1

  &--small
    padding-right: 0
    .input-row__input
      width: 140px!important
      flex-grow: 0

    .input-row__title
      min-width: 50px

    input
      padding: 0 15px

  .input-row
    padding-right: 0
    margin-bottom: 0


.upload-file
  input[type=file]
    display: none

.upload-filename
  max-width: 400px
  margin-top: 15px

.upload
  display: flex
  align-items: flex-end
  margin-bottom: 30px
  &-preview
    margin-right: 35px
    width: 190px
    height: 190px
    img
      object-fit: cover
      width: 100%
      height: 100%
      
  &-btn
    display: flex
    align-items: center
    margin-bottom: 3px
  .button
    margin-right: 15px
  input[type=file]
    display: none


.invalid-message
  color: #ff2737
  padding: 15px 40px 0


.login
  background: url('../images/icons/mail.png') 15px center no-repeat!important

.password
  background: url('../images/icons/password.png') 15px center no-repeat!important


.invalid-form
  .login
    background: url('../images/icons/mail-error.png') 15px center no-repeat!important
  .password
    background: url('../images/icons/password-error.png') 15px center no-repeat!important
