h1,.h1
	font-family: $baseFont
	font-size: rem(58px)
	font-weight: 400
	line-height: 1
	+to($break_xsm)
		font-size: rem(40px)
	+to($break_xxs)
		font-size: rem(28px)

h2,.h2
	font-family: $baseFont
	font-size: rem(30px)
	font-weight: 400
	line-height: 1
	+to($break_xsm)
		font-size: rem(25px)
	+to($break_xxs)
		font-size: rem(21px)

h3,.h3
	font-family: $baseFont
	font-size: rem(24px)
	font-weight: 400
	line-height: 1
	+to($break_xsm)
		font-size: rem(21px)
	+to($break_xxs)
		font-size: rem(18px)

h4,.h4
	font-family: $baseFont
	font-size: rem(20px)
	font-weight: 500
	line-height: 1
	margin: 0 0 .5em

+to(1150px)
	.decor-title
		&.fz70
			font-size: rem(55px)
		&.fz68
			font-size: rem(55px)

+to(560px)
	.decor-title
		&.fz70
			font-size: rem(45px)
		&.fz68
			font-size: rem(45px)

p, span, a, b, strong, small
	line-height: 1.3

p
	margin-bottom: 25px

/* Короткие классы для форматирования текста */
.fz12
	font-size: 12px
.fz13
	font-size: 13px
.fz18
	font-size: 18px
.fz23
	font-size: 23px
	+to($break_xxs)
		font-size: rem(18px)

.c-orange
	color: $orange

.c-gray
	color: #8e8789

.c-gray-2
	color: #909090

.fw100
	font-weight: 100

.fw300
	font-weight: 300

.fw700
	font-weight: 700

.fw900
	font-weight: 900

h2.fw900
	font-weight: 700
h3.fw900
	font-weight: 700

.upcs
	text-transform: uppercase

.txt-ac
	text-align: center

.txt-al
	text-align: left

.txt-ar
	text-align: right

.mb0
	margin-bottom: 0
.mr0
	margin-right: 0
.ml0
	margin-left: 0
.mt0
	margin-top: 0