.arm
  &-header
    padding: 0 30px
    padding-left: 280px
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    background: #F8F7F7
    border-bottom: 3px solid #E9E8E8

    & + .main
      width: 100%
      padding: 0
      display: flex

    .fas
      font-size: 20px
      color: #bfbebe

    &__title
      font-size: 25px
      border-left: 2px solid $baseTxt
      padding-left: 15px
      padding-top: 5px
      padding-bottom: 5px

    &__control
      display: flex
      align-items: center
    &__lang
      display: flex
      align-items: center
      margin: 0 20px
      a
        margin: 0 5px
        img
          border-radius: 50%
        &.active
          img
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.52)

  &-search
    display: flex
    align-items: center

    input
      border: 2px solid #E9E8E8
      font-size: 16px
      transition: 0
      +placeholder
        font-size: 16px
      &:focus
        border-color: transparent

  &-author
    .fas
      margin-right: 8px

  &-main
    display: flex
    width: 100%

  &-sidebar
    margin-top: -60px
    width: 250px
    flex-shrink: 0
    background: url('../images/sidebar.png') top center / cover no-repeat
    color: #fff
    position: relative
    padding-top: 70px

    &:after
      content: url('../images/icons/illustr.png')
      position: absolute
      top: 20px

  &-profile
    display: flex
    align-items: center
    position: relative
    z-index: 2
    background: rgba(#000, .5)
    font-size: 14px
    padding: 10px

    span
      display: block

    &__img
      flex-shrink: 0
      margin-right: 10px      

  &-menu
    font-size: 15px
    position: relative
    margin-top: 15px
    z-index: 2

    a:hover
      text-decoration: none
      color: #fff

    li
      position: relative

    & > li
      margin-bottom: 8px

    ul
      background: #44BC8B      
      a
        padding: 5px
        display: block
        padding-left: 40px
        &:hover
          text-decoration: none
          background: #399E73

    &__link
      display: flex
      align-items: center
      background: #399E73
      color: #fff
      padding: 5px 10px
      text-decoration: none
      &:hover
        text-decoration: none
        background: darken(#399E73, 10%)

      img
        margin-right: 10px

  &-content
    display: flex
    flex-direction: column
    flex-grow: 1
    &__title
      padding: 20px
      padding-left: 30px
      border-bottom: 2px solid #E9E8E8
      background: #fff

    &__main
      padding: 15px
      background: #F8F7F7
      flex-grow: 1

  &-statusbar
    font-size: 14px
    padding-left: 40px
    padding-top: 20px
    padding-bottom: 40px
    ul
      display: flex
      li
        display: flex
        align-items: center
        margin-right: 30px

    .circle
      margin-right: 15px


  &-table
    table
      width: 100%
      font-size: 18px
    
    thead
      font-size: 22px
      border: 1px solid #909091
      border-top: 6px solid #909091
    td
      padding: 10px
      vertical-align: middle

    tbody
      tr
        border-bottom: 1px solid #909091
      td
        max-width: 280px

  &-footer
    background: #2E2E2E
    font-size: 15px
    padding: 20px 30px
    color: #cccccb
    p
      margin: 5px


.circle
  display: inline-block
  width: 21px
  height: 21px
  border-radius: 50%
  flex-shrink: 0
  border: 1px solid #606559

  &-green
    background: #84BD3F

  &-red
    background: #E94546

  &-yellow
    background: #E5E24E

.add-number
  display: flex
  align-items: center
  white-space: nowrap

  &__icon
    cursor: pointer
    flex-shrink: 0
    margin-left: 8px