.authorization
  background: url('../images/login-bg.png') center center / cover, no-repeat
  padding: 45px 0
  align-items: flex-start
  &-inner
    display: flex
    flex-direction: column
    align-items: center
  &-block
    display: flex
    flex-direction: column
    align-items: center

  &-tabs
    display: flex
    &__link
      font-size: 40px
      text-align: center
      font-weight: 300
      width: 50%
      display: block
      padding: 20px
      line-height: 1
      background: #9AA0A5
      box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.2)
      color: #fff
      &.active
        background: transparent
        color: #8c8c8c
        box-shadow: none
        &:hover
          background: transparent
          color: #8c8c8c
      &:hover
        color: #fff
        text-decoration: none

  &-tabblock
    display: none
    &.active
      display: block

  &-logo
    text-align: center

  &-link
    width: 520px
    display: flex
    align-items: center
    background: #8FBEA2
    color: #fff
    border-radius: 45px
    height: 90px
    text-decoration: none
    margin-bottom: 50px
    padding: 0 35px
    letter-spacing: 2px
    font-size: 25px
    font-weight: 300
    box-shadow: inset 0px 8px 5px 0px rgba(118,179,150,1)
    &:hover
      text-decoration: none
      color: #fff
      background: #76B396

    span
      flex-grow: 1
      display: block
      text-align: center
      margin-left: -20px

  &-login
    width: 480px
    background: #E1EBF5
    border-radius: 50px
    overflow: hidden
    color: #888889
    box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.37)
    &__form
      padding: 50px 35px

    input
      border: 0
      border-bottom: 1px solid #888889
      background: transparent
      border-radius: 0
      color: #888889
      padding: 15px
      padding-left: 70px
      font-size: 25px
      height: auto
      +placeholder
        color: #888889
        font-size: 25px

    .input-wrap
      margin-bottom: 25px



    &__options
      margin-bottom: 30px
      margin-top: 40px
      display: flex
      justify-content: space-between
      font-size: 18px
      color: #888889
      align-items: flex-start

      .link
        font-style: italic

      .checkbox
        small
          background: #374A5B
          border: 0
          width: 20px
          height: 20px
          border-radius: 0

        input + small:after
          content: url('../images/icons/checked-white.png')
          left: 4px!important

        input:checked + small:after
          opacity: 1
          top: -4px!important


  &-header    
    text-align: center
    font-weight: 300
    padding: 25px
    color: #374A5B
    margin-bottom: 20px

  &-submit
    display: inline-block
    height: 69px
    line-height: 66px
    padding: 0 80px
    background: #B8BABC
    border-radius: 12px
    text-transform: uppercase
    color: #607082
    transition: .3s
    border: 2px solid #949AA1
    text-decoration: none

    &:hover
      background: #374A5B
      color: #fff
      text-decoration: none

  &-lang
    margin-top: 40px
    display: flex
    align-items: center
    .checkbox
      margin: 0 12px
      small
        margin: 0
        display: block
        width: 73px
        height: 31px
        background: #516C88
        box-shadow: inset 0px 0px 10px 6px rgba(0,0,0,0.3)
        border-radius: 19px
        border: none
        &:after
          content: url(../images/icons/radio-circle.png)
          position: absolute
          top: 1px
          left: 62%
          transition: 0.3s
          opacity: 1

      input[type=checkbox]:checked + small:after
        top: 1px
        left: 0
        opacity: 1