$width: 90px

.cabinet
  display: flex
  flex-direction: column
  width: 100%
  &-toggle
    width: $width
    border: 2px solid #354C65
    border-left: 6px solid #48A8DC
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    .fas,
    .far
      color: #7287A0
  &-header
    width: 100%
    height: $width
    display: flex
    align-items: center
    background: #435B75
    color: #7287A0
  &-title
    flex-grow: 1
    padding: 10px 25px
    font-size: 25px   
  &-sidebar
    width: $width
    background: #435B75
    .cabinet-btn
      border-top: 2px solid #354C65
      border-bottom: 2px solid #354C65
      margin-top: -2px

  &-body
    display: flex
    flex-grow: 1
    background: #EBF4FC

  &-actions
    display: flex    

  &-btn
    display: flex
    align-items: center
    justify-content: center
    width: $width
    height: $width
    border-left: 2px solid #354C65
    border-right: 2px solid #354C65
    margin-right: -2px
    transition: .25s

    &:hover
      background: #354C65

  &-main
    padding: 50px
    flex-grow: 1

  