.search-of-database
  button
    margin-left: 15px


.subject-radio
  label
    margin-right: 17px
    font-size: 17px
    &:last-child
      margin-right: 0
  label small
    margin-right: 7px


.item
  display: flex
  align-items: center
  margin-bottom: 20px
  position: relative

  .checkbox
    margin-bottom: 0
    margin-right: 10px

  &-block
    border-left: 7px solid #4AACE2
    padding: 15px
    background: #ffffff
    position: relative
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.3)
    padding-right: 55px
    &__dropdown
      display: none
      position: absolute
      z-index: 4
      background: #fff
      box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.3)
      min-width: 220px
      top: 35px
      right: 50px
      padding: 15px
      li
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0


  &-title
    font-size: 26px
    margin-bottom: 10px
    display: block
    &:hover
      text-decoration: none

  &-btn
    position: absolute
    cursor: pointer
    top: 50%
    transform: translateY(-50%)
    right: 25px