.footer
  padding: 15px 0
  background: #4E4D4D
  color: #ffffff
  border-top: 7px solid #4E4D4D

  &-content
    display: flex
    align-items: center
    img
      margin-right: 10px

  .h3
    text-transform: uppercase    
    font-weight: 300

  p
    margin: 0
    font-size: 15px

  &-social
    margin: 15px 0
    a
      margin-right: 20px
      &:hover
        color: #4E4D4D
    .fab
      font-size: 25px

  &-copyright
    font-size: 15px

  input
    height: 37px
    padding: 0 20px
    flex-grow: 1
    font-size: 18px
    border-radius: 0
    border: 0
    +placeholder
      font-size: 18px
      font-weight: 400

  button
    background: $yellow
    padding: 10px 25px
    margin-left: 10px
    font-size: 16px
    font-weight: 700
    display: flex
    align-items: center
    .fas
      color: #000
      font-size: 18px
      margin-right: 10px

  form
    width: 100%
    display: flex