.header
  color: #fff
  background: #435B75
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.52)
  &-inner
    display: flex
  &-name
    width: 300px
    box-sizing: border-box
    flex-shrink: 0
    display: flex
    align-items: center
    padding: 7px 25px

    &__subject
      font-size: 20px

  &-title
    display: flex
    align-items: center
    font-size: 25px
    padding: 7px 0 7px 20px
    // border-left: 2px solid #7288a1
    color: #7288a1
    margin: 0
    position: relative
    &:before
      content: ''
      width: 2px
      height: 40px
      background: #7288a1
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

  &-buttons
    display: flex
    justify-content: flex-end
    flex-grow: 1
    &__inner
      display: flex
      position: relative
    a
      display: flex
      align-items: center
      justify-content: center
      background: #516C88
      transition: .25s
      text-decoration: none
      width: 80px
      border-right: 1px solid #415671
      border-left: 1px solid #415671
      &:hover
        box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,0.35)
    img
      width: 50px
  .fas
    color: #fff
    font-size: 50px

  &-logo
    flex-shrink: 0
    margin-right: 30px
    img
      width: 70px

  &-dropdown
    position: absolute
    left: 0
    width: 100%
    top: 100%
    z-index: 2
    background: #516C88
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2)
    min-height: 200px
    display: none

    &__link
      font-size: 16px
      justify-content: flex-start!important
      width: 100%!important
      text-align: left
      padding: 20px 15px
      border-left: 3px solid transparent!important
      color: #fff
      letter-spacing: 1px
      &:hover,
      &.active
        background: #485563
        border-left-color: #4AACE2!important
        color: #fff
        box-shadow: none!important