
html, :root
  font-size: $baseRem
  overflow-x: hidden


body
  font-family: $baseFont
  font-size: $baseRem
  color: $baseTxt
  min-width: 320px
  padding: 0
  margin: 0
  overflow-x: hidden

  +to($break_xxs)
    font-size: rem(14px)

.wrapper
  max-width: 1400px
  box-sizing: content-box
  margin: 0 auto
  padding: 0 30px

  +to(560px)
    padding: 0 22px 0 15px   

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  background: #fff

  +to(480px)
    padding-top: 75px!important

.main
  flex-grow: 1
  display: flex
  &-container
    display: flex
    width: 100%

  &-sidebar
    width: 300px
    font-size: 20px
    flex-shrink: 0
    box-sizing: border-box
    background: #516C88
    color: #BCBCBC
    padding-top: 61px

    a
      text-decoration: none

    &__icon
      width: 25px
      display: flex
      justify-content: center
      align-items: center
      font-size: 18px
      color: #BCBCBC
      margin-right: 15px
      .fas, .far
        font-size: 22px
        color: #BCBCBC
        transition: .3s

    &__link
      display: flex
      padding: 15px
      text-decoration: none
      border: 1px solid #353A40
      margin-top: -1px
      position: relative
      transition: .3s
      box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3)
      &:after
        // content: ''
        // +triangle(bottom, 15px, 15px, red)
        // position: absolute
        // left: 50%
        // transform: translate(-50%, 100%)
        // bottom: 0
        // z-index: 2
      &:hover
        color: #fff
        .main-sidebar__icon
          .fas, .far
            color: #fff

      &.default-link
        color: #fff
        box-shadow: none
        .fas, .far
          color: #fff
        &:hover
          opacity: .75

    &__status
      text-align: center
      margin: 25px 0
      img
        width: 50px

  &-content
    flex-grow: 1
    background: #E1EBF5

    &__inner
      padding: 40px

    &__title
      display: flex
      align-items: center
      color: #7288a1
      font-weight: 500
      background: #D7E756
      font-size: 25px
      padding: 13px 20px
      i
        color: #7288a1
        margin-right: 18px
      span
        padding-left: 15px
        border-left: 2px solid #7288a1

    &__top
      display: flex
      flex-wrap: wrap
      padding: 15px 40px
      background: #F6F6F7
      align-items: center

      .checkbox
        margin-bottom: 0
        margin-right: 20px

      .action-btn
        margin-right: 20px

      input
        max-width: 230px


.action-btn
  border-radius: 50%
  width: 45px
  height: 45px
  display: flex
  align-items: center
  justify-content: center  
  box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.3)
  cursor: pointer
  transition: .25s
  text-decoration: none
  outline: none
  border: none

  .fas, .far
    font-size: 21px

  &:hover
    text-decoration: none
    background: #435B75
    color: #fff
    .fas, .far
      color: #fff
      

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)
  box-sizing: border-box

img
  max-width: 100%


@import header
@import footer


.rel
  position: relative


.fas, .far
  color: #435B75
  font-size: 35px
  transition: .25s

.flex
  display: flex
.flex-end
  justify-content: flex-end
.flex-center
  justify-content: center

.flex-between
  justify-content: space-between
  
.gradient-bg
  background: url('../images/gradient-bg.jpg') center center / cover no-repeat

.fullpage
  min-height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.page-fullpage
  .main
    padding: 0