
.form
  &-row
    display: flex
    justify-content: space-between
    margin-bottom: 40px
    &__col
      width: 45%

  &-block
    &__title
      display: flex
      align-items: center    
      color: #000
      font-weight: 500
      margin-bottom: 40px
      i
        color: $btnColor
        margin-right: 18px
      span
        padding-left: 15px
        border-left: 2px solid $btnColor

    &__subtitle
      color: #969696
      text-align: right
      margin-bottom: 25px
      .h2
        display: inline-block
        border-bottom: 1px solid #D4D4D4
        padding-bottom: 5px

    &__content
      max-width: 900px
      width: 100%

    &__btn
      text-align: right

    &-hr
      display: flex
      justify-content: center
      position: relative
      width: 100%
      margin: 20px 0
      hr
        width: 100%
        max-width: 700px 
        height: 1px
        background: #99A3AA
        margin: 0

  &-buttons
    display: flex
    justify-content: center
    padding: 60px 0 30px
    position: relative
    button
      margin: 0 20px