extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = 'page-fullpage'
  - hideHeader = true;
  - hideFooter = true;

block content

  .authorization.fullpage
    .authorization-inner
      .authorization-logo
        img(src="../../images/icons/logo.png", alt="")
      .authorization-header.h2 Информационая система <br/> электоронных обращений
      
      .authorization-login
        .authorization-tabs
          a(href="#auth-login").authorization-tabs__link.link.active Логин
          a(href="#auth-ecp").authorization-tabs__link.link ЭЦП
        .invalid-message Неверный логин или пароль
        #auth-login.authorization-tabblock.active
          form(action="#!").authorization-login__form.invalid-form
            .input-wrap
              input(type="text" placeholder="Логин*").login
            .input-wrap
              input(type="password" placeholder="Пароль*").password

            .authorization-login__options
              label.checkbox
                input(type="checkbox" checked)
                small
                span Запомнить меня
              a(href="#!").link Забыли пароль?
            .txt-ac
              button.authorization-submit Далее
        #auth-ecp.authorization-tabblock
          form(action="#!").authorization-login__form
            .input-wrap
              input(type="text" placeholder="ИИН")
            .input-wrap
              input(type="text" placeholder="E-mail")
            .input-wrap
              input(type="password" placeholder="ФИО")
            .txt-ac
              button.authorization-submit Далее

      .authorization-lang
        span RU
        label.checkbox
          input(type="checkbox" checked)
          small
        span KZ

      