extends ../template/template
include ../_mixins

block vars
  - title = 'Кабинет';
  - hideHeader = true;
  - hideFooter = true;
  - pageClass = ''

block content

  .cabinet
    .cabinet-header
      .cabinet-toggle: <i class="fas fa-bars"></i>
      .cabinet-title Lorem ipsum
      .cabinet-actions
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-2.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/avatar.png", alt="")

    .cabinet-body
      .cabinet-sidebar
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-4.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-5.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-6.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-7.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-8.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-9.png", alt="")

      .cabinet-main
        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .upload
                    .upload-preview
                      img(src="../../images/icons/upload-avatar.png", alt="")
                    .upload-btn
                      label
                        input(type="file" onchange="readURL(this)")
                        span.button Добавить
                      img(src="../../images/icons/ask.png", alt="")
            .input-row
              .input-row__inner
                .input-row__title Фамилия
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество
                .input-row__input
                  input(type="text")
            
            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    hr

        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Служебный телефон
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Мобильный телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    hr

        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title ИИН
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Пользовательская роль
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    a(href="#!").button.button-green Добавить

        