extends ../template/template
include ../_mixins

block vars
  - title = 'Обращения поступившие на рассмотрение';
  //- - hideHeader = true;
  - pageClass = ''

block content

  .main-container
    .main-sidebar
      ul
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="far fa-id-card"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="far fa-file-alt"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        
    .main-content
      .main-content__top
        label.checkbox
          input(type="checkbox")
          small
        a(href="#!").link.action-btn: <i class="far fa-edit"></i>
        a(href="#!").link.action-btn: <i class="fas fa-download"></i>
        a(href="#!").link.action-btn: <i class="fas fa-signal"></i>
        a(href="#!").link.action-btn: <i class="fas fa-search"></i>
        input(type="text" placeholder="Поиск")
      .main-content__inner
        .main-items
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn
                <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
                    
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #5FE800")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #FF685B")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #5FE800")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3