extends ../template/template
include ../_mixins


block vars
  - title = 'Регистрация обращения';
  - pageClass = ''

block content

  .main-container
    .main-sidebar
      ul
        li: a.link(href="#!").main-sidebar__link(style="background: #5F8C3A")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #47545F")
          .main-sidebar__icon
            <i class="far fa-id-card"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #3E4750")
          .main-sidebar__icon
            <i class="far fa-file-alt"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #69493E")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #47545F")
          .main-sidebar__icon
            <i class="fas fa-file"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #D7E756")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum

      .main-sidebar__status
        img(src="../../images/icons/status-icon.png", alt="")
        
    .main-content
      .main-content__title.h2: <i class="fas fa-user-circle"></i>
        span Идентификационные данные заявителя

      .main-content__inner
        .form-block
          .form-block__content
            .form-block__subtitle
              .h2 Реквизиты доверенного лица
            .input-row
              .input-row__inner
                .input-row__title ИИН
                .input-row__input
                  input(type="text")
            .input-row
              .form-block__btn
                button.button Найти данные по <br/> ИИН
            .input-row
              .input-row__inner
                .input-row__title Фамилия
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество
                .input-row__input
                  input(type="text")           
            .input-row
              .input-row__inner
                .input-row__title Дата рождения:
                .input-row__input
                  input(type="text").datepicker-here
            .input-row
              .input-row__inner
                .input-row__title Регион
                .input-row__input
                  input(list="datalist-6").datalist
                  datalist#datalist-6
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Город / Район
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Населенный пунк
                .input-row__input
                  input(list="datalist-20").datalist
                  datalist#datalist-20
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Улица
                .input-row__input
                  input(list="datalist-9").datalist
                  datalist#datalist-9
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Дом
                .input-row__input
                  .row
                    .col-6
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__input
                            input(type="text").input-small

                    .col-6                      
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__title Блок
                          .input-row__input
                            input(type="text").input-small
            .input-row
              .input-row--small
                .input-row__inner
                  .input-row__title Квартира/офис
                  .input-row__input
                    input(type="text").input-small

            .input-row
              .input-row__inner
                .input-row__title Телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title Статус заявителя
                .input-row__input
                  input(list="datalist-19").datalist
                  datalist#datalist-19
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  label.checkbox
                    input(type="checkbox")
                    small
                    span Личный прием