include ../_mixins

header.header
  .header-inner
    .header-name
      a(href="#!").link.header-logo: img(src="../../images/icons/logo-2.png", alt="")
      .header-name__subject Иванов <br/> Иван
    .header-title.h2= title
    .header-buttons
      .header-buttons__inner
        a(href="#!").link: <i class="fas fa-user-circle"></i>
        a(href="#!").link.js-header-dropdown: img(src="../../images/icons/head-dropdown.png", alt="")
        a(href="#!").link: img(src="../../images/icons/exit.png", alt="")
        .header-dropdown
          a(href="#!").link.header-dropdown__link.active Регистрация обращения
          a(href="#!").link.header-dropdown__link Выдача ответа