include ../_mixins

block vars
   - var title;
   - var pageClass = '';
   - var hideHeader;
   - var hideFooter;
   - var showPopup = false;
   - var isArm = false;

<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;subset=cyrillic", rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    // build:css css/vendor.min.css
    // bower:css
    link(rel='stylesheet', href='../../../vendor/reset-css/reset.css')
    // endbower    
    // endbuild
    // build:css css/commin.min.css
    link(href="../../css/common.css", rel="stylesheet")
    // endbuild
    title #{title}
  body
    
    .page(class='#{pageClass}')
      // header

      - if(!hideHeader){
          include header
      -  }
      // end header
      

      .main#main
        
        block content
      
      // footer 

      -  if(!hideFooter){
          include footer
      -  }
      
      // end footer
  
    
    // build:js scripts/vendor.min.js
    // bower:js
    script(src='../../../vendor/jquery/dist/jquery.js')
    // endbower
    //- inject-not-bower:js
    //- endinject
    // endbuild        
    // build:js scripts/common.min.js
    script(src="../../globConfigJs/config.js")
    //- inject:js    
        
    script(src="../../scripts/common.js")    
        
    //- endinject
    // endbuild